@import url('https://fonts.googleapis.com/css2?family=Golos+Text&display=swap');

:root {
    --bg: #050605;
    --fg: #D5DDC9;
    --bg-alt: #0A0B09;
    --fg-alt: #DDE6D1;
    --alt: #AC8BCD;
}


body {
    font-family: 'Golos Text', sans-serif;
    background-color: var(--bg);
}

#searchbox {
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: 28px;
    border: none;
    border-bottom: 1px solid var(--fg-alt);
    background-color: var(--bg-alt);
    color: var(--fg);
}

#searchbox {
    outline: none;
}

.search {
    width: 500px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: var(--bg-alt);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    padding: 1em;

    display: none;
    z-index: 200;
}

.link-container {
    background-color: var(--bg-alt);
    width: 700px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 0;
    min-height: 0;
}

.links {
    min-width: 0;
    min-height: 0;
    list-style: none;
    color: var(--fg-alt);
}

.links h1 {
    font-size: 28px;
    color: var(--alt);
}

.links li {
    font-size: 16px;
}

.links li a {
    color: var(--fg); 
    text-decoration: none;
    transition: padding 0.3s;
    position: relative;
}

.links li a:hover {
    padding-left: 25px;
}

.links li a::before {
    content: '🎈';
    position: absolute;
    left: -20px;
    opacity: 0;
    transform: scaleX(0);
    transition-property: left, transform, opacity;
    transition-duration: 0.3s;
}

.links li a:hover::before {
    left: 0px;
    transform: scaleX(1);
    opacity: 1;
}

#dim {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 100;
    display: none;
}
